@import "variables.scss";

.btn {
	//padding: 10px 20px;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}

.btn-yellow {
	background-color: #db9a31;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-yellow:hover {
	background-color: #a07023;
}

.btn-red {
	background-color: #db5f4b;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-red:hover {
	background-color: #b84633;
}

.btn-green {
	background-color: #85a767;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-green:hover {
	background-color: #5f8141;
}

.shadow-grey-200 {
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.section {
	display: flex;
	flex-direction: column;
	min-height: 65vh; // The minimum height of the container is equal to the height of the viewport
}
